
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body{
    font-family: 'Arimo', sans-serif;
}

/***** Override Bootstrap *****/

.pagination {

    .page:not(.active), .btn-nav.link:not(.disabled) {
        cursor: pointer;
    }

}

.panel-collapsible {

    .panel-title > a:before {
        float: right !important;
        font-family: FontAwesome;
        content: "\f068";
        padding-right: 5px;
    }

    .panel-title > a.collapsed:before {
        float: right !important;
        content: "\f067";
    }

    .panel-title > a:hover,
    .panel-title > a:active,
    .panel-title > a:focus  {
        text-decoration:none;
    }

}
